/*----------
MOBILE FIRST
------------*/

header, section, footer, aside, nav, main, article, figure {
	display:block;
}
body {
	margin: 0 auto;
	width: 100%;
	height: 100%;
}

img {
	width: 100%;
	display: block;
}

p {
	color: #4a525f;
	margin: 0;
}

/**
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    contenteditable attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    *zoom: 1;
}

#logo p {
	display: block;
	position: absolute;
	width: 100%;
	top:1%;
	color: #ffffff;
	font-size: 2.2em;
	font-style: italic;
	font-weight: bold;

}

/* TOP MENU */

ul {
	width: 100%;
	padding: 0;
	list-style: none!important;

}

li {
	text-align: center;
	padding: 5px;
	background-color: #4a525f;
	font-style: italic;
	border-bottom: 2px solid #ffffff
}

li, li a {
	text-decoration: none;
	color: #ffffff
}

li:hover, li a:hover {
	background-color: #393535;

}
/*TOP MENU END*/

header {
	position: relative;
}

header {
	position: absolute;
	bottom: 60%;
	width: 100%;
	text-align: center;
	color: #ffffff;
	font-size: 1.6em;

}

#apply-btn {
	position: absolute;
	bottom: 50%;

}

#apply-btn a {
	padding:2px;
	text-decoration: none;
	background-color: #ec008c;
	color: #ffffff;
	border-radius: 5px;
}

.row1-1 {
	width: 100%;
	float: left;
	margin-bottom: 2%;
}














